@using CrudTest.Models
@model Item
<!DOCTYPE html>
<html>
<head>
    <title>Frontend Page</title>
</head>
<body>
    <h1>Values from API:</h1>
    <ul>

        <li>@Model.Id</li>
        <li>@Model.Name</li>
        <li>@Model.Description</li>
    </ul>

    <button onclick="sendCookieFromFront()">Send Cookie from front</button>
    <button onclick="removeCookieFromFront('CookieFromFront')">Remove Cookie from fronts</button>
    <button onclick="removeBackendCookieFromFront()">Remove backend Cookie from fronts</button>
    <script>
        function sendCookieFromFront() {
            document.cookie = "CookieFromFront=cookie_value; expires=Thu, 18 Dec 2025 12:00:00 UTC; path=/";
        }
        function removeCookieFromFront(name) {
            document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }

        function removeBackendCookieFromFront() {
            document.cookie = "CookieFromBackend=cookie_value; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }
    </script>
</body>
</html>
